.newTask{
	margin-top: 10px;
	display: flex;
	align-items: center;
	border: 1px solid black;
	height: 35px;
}
.container{
	max-width: 400px;
	margin: 0 auto;
}

.newTaskCheckbox{
	flex: 0 0 auto;
	margin: 0 10px;
}

.newTaskOut{
	flex: 1 1 auto;
}

.newTaskBtn{
	margin: 0 10px;
	cursor: pointer;
}

.newTaskBtnWrapper{
	display: flex;
}
.newTaskInput{
	flex: 1 1 auto;
	border: 1px solid black;
	padding: 5px 10px;
	margin-right: 10px;
}
.newTaskPushBtn{

}