.newTask{
	margin-top: 10px;
	display: flex;
	align-items: center;
	border: 1px solid black;
	padding: 4px 0;
}
.container{
	max-width: 400px;
	margin: 0 auto;
}

.newTaskCheckbox{
	flex: 0 0 auto;
	margin: 0 10px;
}

.newTaskOut{
	flex: 1 1 auto;
}

.removeTaskBtn{
	margin: 0 10px;
	cursor: pointer;
	transition: 0.4s all;
}

.removeTaskBtn:hover{
	fill: rgb(151, 22, 22)
}

.newTaskBtnWrapper{
	display: flex;
	position: relative;
}
.newTaskInput{

	flex: 1 1 auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.966);
	padding: 5px 10px;
	margin-right: 10px;
	background-color: transparent;
}

.newTaskInputLabel{
	position: absolute;
	left: 8px;
   top: 7px;
	transition: .3s all;
}

.newTaskOutItem{
	word-break: keep-all;
}

.newTaskPushBtn{
	padding: 5px 10px;
	border-radius: 15px;
	background-color: blanchedalmond;
	transition: 0.4s all;
}

.newTaskPushBtn:hover{
	background-color: rgb(229, 212, 186);
}

.done{
	text-decoration: line-through;
}
.noTasks{
	font-size: 20px;
	margin-top: 40px;
}