.newTask{
	margin-top: 10px;
	display: flex;
	align-items: center;
	border: 1px solid black;
	height: 35px;
}
.container{
	max-width: 400px;
	margin: 0 auto;
}

.newTaskCheckbox{
	flex: 0 0 auto;
	margin: 0 10px;
}

.newTaskOut{
	flex: 1 1 auto;
}

.newTaskBtn{
	margin: 0 10px;
	cursor: pointer;
}

.newTaskBtnWrapper{
	display: flex;
	position: relative;
}
.newTaskInput{

	flex: 1 1 auto;
	border-bottom: 1px solid black;
	padding: 5px 10px;
	margin-right: 10px;
	background-color: transparent;
}

.newTaskInputLabel{
	position: absolute;
	left: 8px;
   top: 7px;
}



.newTaskPushBtn{
	padding: 5px 10px;
	border-radius: 15px;
	background-color: blanchedalmond;
	transition: 0.4s all;
}

.newTaskPushBtn:hover .newTaskInput{
	background-color: rgb(229, 212, 186);
}