
.headerWrapper {

}

.headerTitle {
font-size: 25px;
}

.linksWrapper{
margin-top: 20px;
margin-bottom: 20px;	
}


.link{
	margin-right: 30px;
	font-size: 20px;
	color: black;
	transition: all 0.5s;
	font-weight: 500;
}

.selected {
	color: rgb(180, 15, 15);
}

